.Body{
    height: 100%;
    display: grid;
  }
  
.Work{
background-color: #151320;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 40px;
padding: 20px;
}

.WorkCard{  
max-height: 444px;
background-color: #1c1b29;
border-radius: 20px;
box-shadow:  0 0 30px rgba(0,0,0,18);
text-decoration: none;
}

.Work div:hover{
opacity: 80%;
cursor: pointer;
}

.WorkImg{  
position: relative;
clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.WorkImg img{
width: 100%;
display: block;
border-radius: 20px 20px 0 0;
height: 320px;
}

.WorkDescription{  
padding: 20px 10px;
}
.WorkDescription>h3{
color: white;
font-weight: 600;
font-size: 18px;
margin: 10px 0 15px 0
}
.WorkDescription>p{
color: #a0a0a0;
font-size: 15px;
line-height: 30px;
font-weight: 400;
}

.WorkImg::after{
content: "";
height: 100%;
width: 100%;
position: absolute;
top:0;
left:0;
border-radius: 20px 20px 0 0;
opacity: 0.6;
}

.WorkCard:nth-child(1) .WorkImg::after{
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}
.WorkCard:nth-child(2) .WorkImg::after{
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.WorkCard:nth-child(3) .WorkImg::after{
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}
.WorkCard:nth-child(4) .WorkImg::after{
  background-image: linear-gradient(135deg, #70e4aa, #00ff33);
}

.WorkSlider:nth-child(1) .WorkImg::after{
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}
.WorkSlider:nth-child(2) .WorkImg::after{
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.WorkSlider:nth-child(3) .WorkImg::after{
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}
.WorkSlider:nth-child(4) .WorkImg::after{
  background-image: linear-gradient(135deg, #70e4aa, #00ff33);
}

.WorkSliderContainer{
  overflow-x: hidden;
  visibility: hidden;
  position: absolute;
  width: 0;
  background-color: #151320;
  grid-gap: 40px;
  padding: 20px;
}

.WorkSlider{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  cursor: grab;
  margin: 1em;
  max-height: 444px;
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow:  0 0 30px rgba(0,0,0,18);
  text-decoration: none;
}

.WorkSliderFlex{
  display: flex;
}

@media (max-width: 768px){
  .WorkSliderContainer{
      visibility: visible;
      position: initial;
      width: 100%;
  }

  .Work{
    visibility: hidden;
    position: fixed;
  }

  .WorkImg{
    background-image: linear-gradient(135deg, #0100ec, #fb36f4);
    border-radius: 20px 20px 0px 0px;
  }

  .WorkImg img{
    height: 250px;
    }
}