.HeaderInitial {
    display: grid;
    height: 100vh;
    color: white;
    background: linear-gradient(#000000,#151320 );
    position: initial;
  }

.HeaderTitle{
  align-self: center;
  justify-self: left;
  margin: 0 5em;
  font-size: xx-large;
  visibility: visible;
  position: relative;  
  font-family: 'JelleeBold';
  font-weight: normal;
   font-style: normal;
}


.HeaderTitle h2{
  color: #ab2a3e;
}

.HeaderTitle a:hover{
  color: #ab2a3e;
}

@media (max-width: 768px){
  .HeaderInitial {
    align-content: center;
    height: 100vh;
  }  

  .HeaderTitle{
    margin: 0 1em;
  }
}