.NavBar{
    position: relative;
    display: flex; 
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.NavBar nav ul li a{
    color: white;
}

.NavBar nav ul li a:hover{    
    color: #ab2a3e;
}
