.AboutContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.AboutImg img{
    border-radius: 50%;
    width: 100%;
    max-width: 380px;
    height: auto;
    padding: 0 2em;   
}

.AboutDescription{
    font-family: "Open Sans",sans-serif;
    width: 430px;
    color: white;
}

.AboutDescription p{
    padding: 0 1em 1em;
}
.AboutDescription a{
    color: #1E90FF;
    padding: 0 1em 1em;
}

@media (max-width: 990px) {
    .AboutContainer{
        flex-direction: column;
    }
    .AboutImg{
        margin-top: 4em;
    }
    .AboutDescription{
        padding: 0 2em 2em;
        width: 380px;
        margin-top: 1em;
    }
}

@media (max-width: 375px) {    
    .AboutImg img{
        max-width: 300px;  
    }
}