.SkillsContainer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#151320,#8693AB );
    padding: 5em 1em;
}

.SkillsTitle{
    margin: auto;
    font-family: monospace;
    padding: 2em 0 1em 0;
    font-size: xx-large;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.SkillsImgContainer{
    display: grid;
    padding: 2em 0;
    grid-template-columns: repeat(auto-fit, minmax(130px,auto));
    gap: 3em;
    justify-content: center;
}
.SkillsImgContainer img{
    max-width: 120px;
    margin: auto;
}