.SkillsContainer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#151320,#8693AB );
    padding: 2em 1em;
}

.SkillsTitle{
    margin: auto;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    padding: 2em 0 1em 0;
    font-size: xx-large;
    color: #ab2a3e;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.SkillsImgContainer{
    display: grid;
    padding: 2em 0;
    grid-template-columns: repeat(auto-fit, minmax(130px,auto));
    gap: 3em;
    justify-content: center;
}
.SkillsImgContainer img{
    max-width: 120px;
    margin: auto;
}