* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/*  Navbar  */

.Navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    background-color: transparent;
    color:white;
    position: fixed;
}

.Navbar a {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em 2em;
    cursor: pointer;
    color: white;      
    text-decoration: none;
}

.Navbar a:hover{
  color:  #ab2a3e;
}

/* Header */

.Header-initial {
  display: grid;
  grid-template-areas: '. title btn .';
  grid-template-columns: 100px 2fr 2fr 100px;
  height: 100vh;
  color: white;
  background-color: black;
  position: initial;
  visibility: visible;
}

.Header-skills {
  display: grid;
  grid-template-areas: '. title btn .';
  grid-template-columns: 100px 2fr 2fr 100px;
  height: 100vh;
  color: white;
  background-color: black;
  position: absolute;
  visibility: hidden;
}

.Header-title{
  grid-area: title;
  align-self: center;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

.Header-title h2{
  color: #ab2a3e;
}

.Name {
  display: flex;
}

.Headerbtn{
  grid-area: btn;
  width: 100%;  
  align-self: center;
  text-align: center;
}

.Headerbtn button{
  width: 100%;
  max-width: 100px;
  height: 100px;
  background-color: #ab2a3e;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: white;
}

.Headerbtn button:hover{
  background-color: #cf4d61;
}

/* Body */
.Body{
  height: 100%;
  display: grid;
}

.Proyects{
  background-color: #151320;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  padding: 20px;
  place-items: center center;
}

.Proyects-card{  
  max-height: 444px;
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow:  0 0 30px rgba(0,0,0,18);
}

.Proyects div:hover{
  opacity: 80%;
  cursor: pointer;
}

.Proyects-img{  
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.Proyects-img img{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.Proyects-description{  
  padding: 20px 10px;
}
.Proyects-description>h3{
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0
}
.Proyects-description>p{
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.Proyects-img::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  border-radius: 20px 20px 0 0;
  opacity: 0.6;
}

.card1>.Proyects-img::after{
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}
.card2>.Proyects-img::after{
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}
.card3>.Proyects-img::after{
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.card4>.Proyects-img::after{
  background-image: linear-gradient(135deg, #ff3b1d, #f39477);
}

/* Footer */

.Contact-container{
  background: black;
  padding: 40px 0;
}

.Contact-container h1{
  max-width: 600px;
  text-align: center;
  padding: 0 10px;
  margin: auto;
  color: #ab2a3e;
  font-family: Arial, Helvetica, sans-serif;
}

.Contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.Contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.Contact-form-text:focus{
  box-shadow: 0 0 5px 1px white;
}

textarea.Contact-form-text{
  resize: none;
  height: 120px;
}

.Contact-form-btn{
  float: right;
  border: 0;
  background:  #ab2a3e;
  color: white;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.Contact-form-btn:hover{
  background:#cf4d61;
  color:white;
}

.Border {
  width: 100px;
  height: 5px;
  background: #ab2a3e;
  margin: 40px auto;
}

.Social-icons {
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  grid-area: social;
  height: 50px;
}

.Social-icons a {
  color: white;
  justify-self: center;
  align-self: center;
}