* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* Footer */

.Contact-container{
  background: black;
  padding: 40px 0;
}

.Contact-container h1{
  max-width: 600px;
  text-align: center;
  padding: 0 10px;
  margin: auto;
  color: #ab2a3e;
  font-family: Arial, Helvetica, sans-serif;
}

.Contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.Contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.Contact-form-text:focus{
  box-shadow: 0 0 5px 1px white;
}

textarea.Contact-form-text{
  resize: none;
  height: 120px;
}

.Contact-form-btn{
  float: right;
  border: 0;
  background:  #ab2a3e;
  color: white;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.Contact-form-btn:hover{
  background:#cf4d61;
  color:white;
}

.Border {
  width: 100px;
  height: 5px;
  background: #ab2a3e;
  margin: 40px auto;
}

.Social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.Social-icons a {
  color: white;
  justify-self: center;
  align-self: center;
}

