.StackContainer{
    display: flex;
    flex-direction: column;
    padding: 5em 1em;
}
.StackImgContainer{
    display: grid;
    padding: 2em 2em;
    grid-template-columns: repeat(auto-fit, minmax(80px,auto));
    column-gap: 3em;
    row-gap: 2em;
    justify-content: center;
}
.StackImgContainer div{
    flex-direction: column;
    color: white;
    text-align: center;
    align-self: flex-end;
}
.StackImgContainer div img{
    max-width: 80px;
    max-height: 80px;
    margin: auto;
}